@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --primary: #1f2937;
  --secondary: #3882f6;

  --white: #f9faf8;
  --grey: #e5e7eb;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary);
}

* {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

nav > div {
  width: 100%;
  padding: 20px 200px;
  box-sizing: border-box;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary);
}

nav p {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
}

nav button {
  padding: 0 5px;
  border: none;

  background-color: var(--primary);
  color: var(--grey);
  font-size: 16px;
}

#hero {
  padding: 150px 200px 100px;

  display: flex;
  flex: 1 1 100%;

  background-color: var(--primary);
  color: var(--white);
}

#hero > div {
  width: 100%;
}

#hero img {
  width: 100%;
  height: 200px;
  border-radius: 8px;

  object-fit: cover;
}

#hero h1 {
  font-size: 48px;
  font-weight: bolder;

  color: var(--white);
}

#hero p {
  margin-bottom: 5px;

  color: var(--grey);
  font-size: 18px;
}

#info {
  padding: 30px 200px 100px;
}

#info h2 {
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.cards {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  gap: 40px;
}

.cards > div {
  width: 120px;
}

.cards > div > div {
  width: 120px;
  height: 120px;

  border: 3px solid var(--secondary);
  border-radius: 8px;
}

.cards > div > p {
  margin-top: 5px;
  text-align: center;
  font-weight: 300;
}

#hero button {
  padding: 0.5em 1.75em;
  border: none;
  border-radius: 8px;

  background-color: var(--secondary);
  color: var(--white);
}

#quote {
  padding: 60px 30% 80px;
  background-color: var(--grey);
}

#quote > h5 {
  margin-bottom: 10px;

  font-size: 36px;
  font-weight: 300;
}
#quote > p {
  font-size: 18px;
  text-align: end;
  font-weight: 500;
}

#action {
  padding: 100px 200px;
}

#action > div {
  padding: 60px 80px;

  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;

  background-color: var(--secondary);
  color: var(--white);
}
#action > div > *:nth-child(1) {
  flex: 1 1 70%;
}
#action > div > *:nth-child(2) {
  flex: 1 1 30%;
}

#action h6 {
  font-size: 18px;
  font-weight: 500;
}

#action p {
  color: var(--grey);
}

#action button {
  max-width: 120px;

  border: 2px solid var(--white);
  border-radius: 8px;

  background-color: var(--secondary);
  color: var(--white);
  font-size: 16px;
}

footer {
  width: 100%;
  height: 4em;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color: var(--grey);
  font-size: small;
}
